
.maindiv {
    display: flex;
    max-width: 100%;
    min-width: 100%;
   padding: 20px;
    margin-top: 200px;
    flex-wrap: wrap;
    align-items: stretch;
   }
.productbrief {
    max-width: 25%;
    min-width: 25%;
    min-height: 300px;
    border: 1px solid gray;
    margin: 20px;
    margin-top: -10px;
    margin-left: 75px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.card {
    margin-top: -1300px;
    margin-left: 350px;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    z-index:12;
    background-color:white;
    display: block;
    opacity: 1;
    display: flex;
}